<section>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" formControlName="name" />
    </div>

    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>

    <div>
      <button routerLink="/">Back</button>
      <button type="submit">Login</button>
    </div>
  </form>
</section>
